<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
  <div class="row">
    <h1 class="title"><%= @artist.name %></h1>
    <br />
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Exhibitions:</h2>
      <!-- <% if false %>
        <% @artist.exhibitions.each do |exhibition| %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to museum_exhibition_path(exhibition.museum, exhibition), :class => "button-link" do %>
              <div class="exhibition btn btn-primary btn-block grid-button">
                <div class="center-block-outer">
                  <div class="center-block-middle">
                    <div class="center-block-inner">
                      <h4 class="button-link-name"><%=exhibition.name %></h4>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Artworks:</h2>
      <table class="table table-hover">
        <th>Artwork Name</th>
        <th>Exhibition</th>
        <th>Museum</th>
        <th>Exhibited until</th>
        <% @artist.artworks.each do |artwork| %>
          <% exhibition = artwork.exhibition %>
          <% museum = exhibition.museum %>
          <tr>
            <td><%= link_to artwork.name, museum_exhibition_artwork_path(museum,exhibition,artwork) %></td>
            <td><%= link_to exhibition.name, museum_exhibition_path(museum,exhibition) %></td>
            <td><%= link_to museum.name, museum_path(museum) %></td>
            <td><%= exhibition.end_date %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
    <% @artist.artworks.each do |artwork| %>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <%= link_to museum_exhibition_artwork_path(artwork.exhibition.museum, artwork.exhibition, artwork), :class => "button-link" do %>
          <div class="exhibition btn btn-primary btn-block grid-button">
            <div class="center-block-outer">
              <div class="center-block-middle">
                <div class="center-block-inner">
                  <h4 class="button-link-name"><%=artwork.name %></h4>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%# TODO: Format Date better, Exhibition dates instead of until %>
</div>
