<% content_for :title, (@exhibition.name + " Floor Plan") %>
<%= javascript_include_tag "application" %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @exhibition.name %></h1>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div id="gui-container"></div>
    </div>
    <div class="col-xs-6">
      <%= image_tag attachment_url(@exhibition, :floor_plan, format: "png"), :usemap => "#floor-map", id: "floormap-img", class: "unselectable" %>
      <div id="floor">
        <div id="sub-floor">
          <map name="floor-map" id="floor-map">
            <% @floor_data_local.each do |data| %>
              <area alt='' title='<%= data[:name] %>' href= '<%= data[:link] %>' href= '<%= data[:link] %>' shape='rect' coords= '<%= data[:coord_string] %>' class='<%= data[:type] %>' />
            <% end %>
          </map>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Legend</h3>
        </div>
        <div class="btn-group-vertical btn-block">
          <input type="submit" value="Select Sculptures" id="highlight-sculptures" class="btn btn-primary btn-selector btn-block" />
          <input type="submit" value="Select Paintings" id="highlight-paintings" class="btn btn-primary btn-selector btn-block"/>
          <input type="submit" value="Clear Selection" id="clear" class="btn btn-secondary btn-block"/>
          <input type="submit" value="New Artwork" id="new-artwork" class="btn btn-secondary btn-block"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 horizontal-center-wrapper">
      <div class="horizontal-center">
        <%= form_for @exhibition, url: museum_exhibition_path do |form| %>
          <%= form.attachment_field :floor_plan %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      <h4>Click on a red or blue box to visit the coresponding artwork. Click on a camera icon
      to view the corresponding panorama.</h4>
    </div>
  </div>
</div>
<%= javascript_include_tag "displayfloorplan" %>
<%= javascript_include_tag "editfloorplan" %>
<%= javascript_include_tag "dat.gui" %>
<script type="text/javascript">
var myImg = document.getElementById("floormap-img");

$(myImg).addClass( 'unselectable' ); // All these attributes are inheritable
$(myImg).attr( 'unselectable', 'on' ); // For IE9 - This property is not inherited, needs to be placed onto everything
$(myImg).attr( 'draggable', 'false' ); // For moz and webkit, although Firefox 16 ignores this when -moz-user-select: none; is set, it's like these properties are mutually exclusive, seems to be a bug.
$(myImg).on( 'dragstart', function() { return false; } );  // Needed since Firefox 16 seems to ingore the 'draggable' attribute we just applied above when '-moz-user-select: none' is applied to the CSS
$(myImg).attr( 'draggable', 'false' );
$(myImg).attr( 'unselectable', 'on' );

$(".btn-group-vertical > .btn-selector").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
});
$(".btn-group-vertical > #clear").click(function(){
    $(this).siblings().removeClass("active");
});

initializeEditMapster();

var coord1;
var coord2;
var drawing = 0;
  $("#new-artwork").click(function(){
    $('area').mapster('deselect');
    $(this).siblings().removeClass("active");
    $("#floormap-img").css("cursor", "crosshair");
    mouse.drawing = 2;
  });
  $(myImg).on( "mousedown", function(e) {
    setMousePosition(e);
    storeCoordinates();
    if (mouse.drawing == 2){
      mouse.drawing = 1;
    }
  });
  $(document).on("mousemove", function(e){
    setMousePosition(e);
    if (mouse.drawing == 1){
      drawTemp();
      $("#scaffold").css("cursor", "crosshair");
    }
  });
  $(document).on("mouseup", function(e){
    if (mouse.drawing == 1){
      setMousePosition(e);
      t = drawTemp();
      drawGui(t);
      mouse.drawing = 0;
      $("#floormap-img").css("cursor", "default");
    }
  });
</script>
