<p id="notice"><%= notice %></p>
<% content_for :title, (@exhibition.name + " Floor Plan") %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @exhibition.name %></h1>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <%= image_tag attachment_url(@exhibition, :floor_plan, format: "png"), :usemap => "#floor-map", id: "floormap-img" %>
        <div id="floor">
          <map name="floor-map" id="floor-map">
            <% @floor_data_local.each do |data| %>
                <area alt="" title="" href= '<%= data[:link] %>' shape="rect" coords= '<%= data[:coord_string] %>' class='<%= data[:type] %>' />
            <% end %>
          </map>
        </div>
    </div>
    <div class="col-xs-3">
      <input type="submit" value="Show Sculptures" id="highlight-sculptures" class="btn btn-primary" />
      <input type="submit" value="Show Paintings" id="highlight-paintings" class="btn btn-primary "/>
      <input type="submit" value="New Painting" id="new-painting" class="btn btn-primary "/>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      <h4>Click on a red or blue box to visit the coresponding artwork. Click on a camera icon
      to view the corresponding panorama.</h4>
      <p>X:<span id="x"></span></p>
      <p>Y:<span id="y"></span></p>
    </div>
  </div>
</div>
<%= javascript_include_tag "displayfloorplan" %>
<%= javascript_include_tag "editfloorplan" %>
<script type="text/javascript">
  var myImg = document.getElementById("floormap-img");
  myImg.onmousedown = GetCoordinates;
</script>
