<p id="notice"><%= notice %></p>
<% content_for :title, (@exhibition.name + " Floor Plan") %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @exhibition.name %></h1>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= image_tag attachment_url(@exhibition, :floor_plan, format: "png"), :usemap => "#Map" %>
        <div id="floor">
          <map name="map" id="map">
            <% @floor_dataa.each do |data| %>
                <area alt="" title="" href= '<%= data[:link] %>' shape="rect" coords= '<%= data[:coord_string] %>' />
            <% end %>
          </map>
        </div>
        <%= javascript_include_tag "floor" %>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br />
      <h4>Click on a red or blue box to visit the coresponding artwork. Click on a camera icon
      to view the corresponding panorama.</h4>
    </div>
  </div>
</div>
