<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
  <div class="row">
    <h1><%= @exhibition.name %></h1>
  </div>
  <div class="row">
    <div class="col-xs-3">
      PLACEHOLDER FOR PICTURES
    </div>
    <div class="col-xs-9">
      <h4>Start Date: <%= @exhibition.start_date %></h4>
      <h4>End Date: <%= @exhibition.end_date %></h4>
      <p><%= @exhibition.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%=link_to "ENTER EXHIBITION", museum_exhibition_room_url(@museum.id, @exhibition.id, @room.id), :class=> "btn btn-default" %>
    </div>
    <div class="col-xs-6">
      <%=link_to "FOOR PLAN", "", :class=> "btn btn-default" %>
    </div>
  </div>
</div>
