<p id="notice"><%= notice %></p>

<h1><%= @exhibition.name %></h1>
<%= link_to 'Show', museum_exhibition_rooms_path(@exhibition, @museum) %>
<%= link_to 'Edit', edit_museum_exhibition_path(@exhibition, @museum) %>
<%= link_to 'Back', museum_path(@museum) %>
