<% content_for :title, @artwork.name %>
<%= javascript_include_tag "application" %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title"><%= @artwork.name %></h1>
      <h2 class="title in-line">
        By:
        <% @artists.each do |artist| %>
        <%= link_to artist.name, artist_path(artist) %>
        <% end %>
      </h2>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 horizontal-center-wrapper">
      <div class="picture-frame">
        <%= image_tag attachment_url(@artwork, :image, format: "png"), :class => "image full-image horizontal-center" %>
      </div>
      <div class="horizontal-center">
        <%= form_for @artwork, url: museum_exhibition_artwork_path do |form| %>
          <%= form.attachment_field :image %>
          <%= submit_tag %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <p><%= @artwork.description %></p>
    </div>
  </div>
<%# TODO: Maybe add a way to see where a piece of artwork has been? %>
</div>
