<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Artwork Page</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">

            <p id="notice"><%= notice %></p>
            <% artwork = @artworks.first %>

            <center><h1><%= artwork.name %></h1></center>

          </div>
          <div class="col-md-3"></div>
      </div>

      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><img src="assets/nike-865e5d6eb8dfec1574923f8bb9ef338ac4387262620f435c7460f7561382d931.jpg" alt="test" class="img-responsive center-block"></div>
          <div class="col-md-4"></div>
      </div>

<!--     <%= image_tag(artwork.img_path) %>  -->
<%= image_tag attachment_url(@artwork, :img, :fill, 300, 300, format: "jpg") %>

      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">

            <h2><%= "Pythokritos of Rhodes " + artwork.date_created.to_s %></h2>
            <p><%= artwork.description %></p>

          </div>
          <div class="col-md-4"></div>
      </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
