<p id="notice"><%= notice %></p>

<p>
  <strong>Image</strong>
  <%= image_tag attachment_url(@artwork, :image, :fill, 300, 300, format: "jpg") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @artwork.date_created %>
</p>

<%= link_to 'Edit', edit_museum_exhibition_room_artwork_path(1, 1, 1, @artwork) %> |
<%= link_to 'Back', museum_exhibition_room_artworks_path(1,1,1) %>
