<%= form_tag "/addContent", method: 'POST', multipart: true do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> caused your upload to fail:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :id, @user.id %>
  <div class="field">
    <label for="file">Content Upload</label><%= file_field_tag 'file', class: "" %>
  </div>
  <%= submit_tag %>
<% end %>
