<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">Just added content:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Museums:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @museums %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Exhibitions:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @exhibitions %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Artwork:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @artworks %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Artists:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @artists %>
    </div>
  </div>
</div
