<p id="notice"><%= notice %></p>

<h1>Listing Floor Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floor_plans.each do |floor_plan| %>
      <tr>
        <td><%= floor_plan.name %></td>
        <td><%= link_to 'Show', floor_plan %></td>
        <td><%= link_to 'Edit', edit_floor_plan_path(floor_plan) %></td>
        <td><%= link_to 'Destroy', floor_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor plan', new_floor_plan_path %>
