<p id="notice"><%= notice %></p>

<h1>Listing Museum Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @museum_users.each do |museum_user| %>
      <tr>
        <td><%= link_to 'Show', museum_user %></td>
        <td><%= link_to 'Edit', edit_museum_user_path(museum_user) %></td>
        <td><%= link_to 'Destroy', museum_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Museum user', new_museum_user_path %>
