<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <% @museum = room.museum %>
      <% @exhibition = room.exhibition %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to 'Show', museum_exhibition_room_path(@museum, @exhibition, room) %></td>
        <td><%= link_to 'Edit', edit_museum_exhibition_room_path(@museum, @exhibition, room) %></td>
        <td><%= link_to 'Destroy', museum_exhibition_room_path(@museum, @exhibition, room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_museum_exhibition_room_path %>
