<p id="notice"><%= notice %></p>
<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region=" %>
<%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js'%>
<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js' %>
<%= javascript_include_tag "application" %>
<div id="main-container" class="container">
  <div class="row horizontal-center-wrapper">
    <h1 class="title horizontal-center"> Welcome to ETM!</h1>
    <br />
  </div>
  <div class="row">
    <div>
      <div id="map"></div>
    </div>
  </div>
  <div class="row">
    <h3 id="map_desc">
      To explore exhibitions around the world,
      click on the participating museums on the map above
      or chose one from the list below
    </h3>
  </div>
  <div class="row">
    <hr />
    <% @museums.each do |museum| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= link_to museum, :class => "button-link" do %>
        <div class="museum btn btn-primary btn-block grid-button">
          <div class="center-block-outer">
            <div class="center-block-middle">
              <div class="center-block-inner">
                <h3 class="button-link-name"><%= museum.name %></h3>
                <p id="address"><%= museum.street_address%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
handler = Gmaps.build("Google", {
  builders: {
    Marker: CustomMarkerBuilder
  }
});
handler.buildMap({
    internal: {id: "map"},
    provider: {
      styles:    mapStyle
    }
  },
  function () {
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.getMap().setZoom(0);
    handler.getMap().setOptions({minZoom: 2})
  }
);
</script>
