<% content_for :title, @museum.name %>
<%= javascript_include_tag "application" %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11">
      <h1 class="title"><%= @museum.name %></h1>
      <br />
    </div>
    <div class="col-xs-1">
      <% if !session[:user_id].blank? %>
        <%= link_to edit_museum_path(@museum), :class => "button-link horizontal-center-wrapper responsive-color" do %>
          <div class="btn btn-primary grid-button horizontal-center responsive-color-btn">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row museum-info">
    <div class="col-xs-4">
      <div class="picture-frame">
        <%= image_tag attachment_url(@museum, :image, format: "png"), :class => "image side-image horizontal-center" %>
      </div>
    </div>
    <div class="col-xs-8">
      <p><%= @museum.description %></p>
      <p><%= link_to "Official Website", @museum.website %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 horizontal-center-wrapper">
      <h2 class="horizontal-center">Exhibitions Over Time</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <link href="../../dist/vis.css" rel="stylesheet" type="text/css" />
      <div id="visualization"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 white" id="slidebox-container">
      <h4>Click on an exhibition in the timeline above to see details and visit it</h4>
    </div>
  </div>
</div>

<script type="text/javascript">
 // DOM element where the Timeline will be attached
 var container = document.getElementById('visualization');
 // Create a DataSet (allows two way data-binding)
 var items = new vis.DataSet(gon.dataset);
 // Configuration for the Timeline
 var options = {};

 // Create a Timeline
 var timeline = new vis.Timeline(container, items, options);
 timeline.on('select', function(properties){
   $.ajax({url: window.location.href + "/exhibitions/" + properties.items}).done(function(html) {});

});
</script>
