<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
  <div class="row">
    <a><%= link_to "Museums", museums_path %> > <%= link_to @museum.name, "" %></a>
  </div>
  <div class="row">
    <h1><%= @museum.name %></h1>
    <a href="<%=@museum.website %>">Official Website</a>
  </div>
  <div class="row">
    <div class="col-xs-3">
      PLACEHODER FOR PICTURES
    </div>
    <div class="col-xs-9">
      <p>
        <%= @museum.description %>
      </p>
      <h4>Longitude: <%= @museum.longitude %></h4>
      <h4>Latitude: <%= @museum.latitude %></h4>
    </div>
  </div>
  <div class="row">
    <table class=table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @exhibitions.each do |exhibition| %>
        <tr>
          <td><%= link_to exhibition.name, museum_exhibition_url(@museum.id, exhibition.id), :class => "btn btn-default"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
