<p id="notice"><%= notice %></p>
<h1><%= @museum.name %></h1>
<h3><%= @museum.longitude %></h3>
<h3><%= @museum.latitude %></h3>
<%= link_to 'Show', museum_exhibitions_path(@museum) %>
<%= link_to 'Edit', edit_museum_path(@museum) %> 
<%= link_to 'Back', museums_path %>
