<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<%= include_gon %>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<%= stylesheet_link_tag "etm" %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <title><%= yield(:title) %></title>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" rel="home" href="/" title="Exhibition Time Machine" data-no-turbolink = "true">
        <img style="max-width:40px; margin-top: -10px; margin-left: +50px; margin-right: +80px;"
             src="http://people.brandeis.edu/~ddimitr/Images/logoIII.png"> -->
        <%= link_to image_tag("stationary-clock.gif", :class => "logo pull-left"), "/" %>

<!-- </a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= form_tag "/search/results", class: "navbar-form navbar-left", :html =>{ :role => "search"}, method: "get" do %>
          <div class="form-group has-feedback left-inner-addon">
            <span class="glyphicon glyphicon-search from-control-feedback"></span>
            <label class="control-label sr-only", for="search-bar">Search</label>
            <%= text_field_tag :search, nil, class: "form-control", id: "search-bar", placeholder: "Search" %>
         </div>
        <% end %><%= session[:user_id] %>
        <% if session[:user_id].blank? %>
          <li><a href="/users/new">Sign up<span class="sr-only">(current)</span></a></li>
          <li><a href="/login">Log in<span class="sr-only">(current)</span></a></li>
        <% else %>
          <li><%= link_to "Content Control", user_path(session[:user_id]) %></li>
          <li><%= link_to "Logout", sessions_destroy_path(session) %> </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if @crumbs %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", "/", 'data-no-turbolink' => true, :class => "breadcrumb-item" %></li>
    <% @crumbs.each do |crumb|%>
      <% if crumb != @crumbs.last %>
        <li class="breadcrumb-item"><%= link_to crumb[0], crumb[1], 'data-no-turbolink' => true %></li>
      <% else %>
        <li class="active breadcrumb-item"><%=crumb[0].to_s %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>
  <!-- <%= image_tag "ajax-loader.gif" %> -->
  <div class="center-block-outer fullpage overlay loading-container">
    <div class="center-block-middle">
      <div class="center-block-inner">
        <div class="loading-icon">
          <%= image_tag "clock.gif" %>
        </div>
      </div>
    </div>
  </div>
<%= yield %>

  <br />
  <div class="panel-footer">
  </footer>

</body>
</html>
